@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}


.my-animate {

  animation: myAnim 2s ease 0s 1 normal forwards;

}


.my-gradient {
  background-image: linear-gradient(to right top, #45474b, #6d6f73, #989a9d, #c5c8ca, #f5f7f8);
}

.btn-my-bg {
  background-image: linear-gradient(to bottom, #f5f7f8, #b7f9fa, #90f8cc, #b0eb79, #f4ce14);
}

.card-my-bg{
  background-image: linear-gradient(to right bottom, #45474b, #6d6f73, #989a9d, #c5c8ca, #f5f7f8);
}